html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Inter", "sans-serif";
    font-size: 14px;
    color: var(--paragraph-text-color);

    background: #fff;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
}

.container {
    /* max-width: 1414px; */
    margin: 0 auto;
    padding: 0;
}
/* header */

/* .explore_container{
    max-width: 1303px;
} */

.navbar{
    margin-bottom: 72px;
}

.nav-link{
    font-weight: 400;
    font-size: 16px;
    color: #b8becd;
}

.nav_item_link{
    text-decoration: none;
}

.btn{
    border-radius: 8px;
    width: 132px;
    height: 60px;
    
    background: #fff;
    color:#fb8f1d;
    border: 1px solid #fb8f1d;

    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 17px;

    cursor: pointer;
}

.btn:hover{
    background: #fb8f1d;
    color: #fff;
    border: 1px solid #fb8f1d;
}

/* .wrap{
    flex-wrap: nowrap;
} */

.header{
    margin-bottom: 256px;
}
.header_title{
    font-weight: 700;
    font-size: 64px;
    font-family: "Playfair Display";
    
         
    line-height: 1.25;
    color: #202336;
    margin-bottom: 74px;
}

.holiday_title_wrap{ 
    position: relative;   
    margin-bottom: 74px;
}

.holiday_title_wrap::before{
    content: url('/images/icons/element2.svg');
    position: absolute;
    left: -14%;
    top: 60%;

    transform: translateY(90%);
}

.holiday_title_wrap::after {
    content: url('/images/icons/Rectangle\ 29.svg');
    position: absolute;
    left: 0%;
    top: 60%;
    transform: translateY(70%);
    z-index: -1;
}

.holiday_title{
    font-weight: 600;
    font-size: 22px;
    color: #202336;
}

.form_title{
    font-weight: 400;
    font-size: 16px;
}

.form-select{
    font-weight: 400;
    font-size: 15px; 
    
     /* border: 0.80px solid #afb0b9;
        border-radius: 6px;
        width: 220px;
        height: 52px;  */
        
    line-height: 2.13333;
    color: #4a4c53;
       
}


/* button explore */
.btn_explore_container{
    margin-top: 47px;
    position: relative;
}

.btn_explore_container::after {
    content: url('/images/icons/element.svg');
    position: absolute;
    right: -18%;
    bottom: -75%;

    transform: translateY(20%);
}

.explore{
    width: 180px;
    height: 60px;
    
    line-height: 3.52941;          
}

.buner_explore_container{
    position: relative;
}

.buner_explore_container::before{
        content: url('/images/icons/element3.svg');
        position: absolute;
        left: -3%;
        top: 5%;
        
        transform: translateY(-20%);
}

/* section 2 */
.wrapper_section{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 262px;
    
}

.card{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    border: none;
}

.card_content::before{
    content: url('/images/icons/element_section2.svg');
    position: absolute;
    left: -20%;
    top: -10%;
    
    transform: translateY(90%);
}

.card_content{
    display: flex;
    flex-direction: column;
    
    justify-content: center;

    margin-left: 102px;
    padding-top: 112px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    position: relative;
}

.title_section2{    
    margin-bottom: 20px;
    
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 36px;    
       
    line-height: 1.38889;
    color: #000;
}

.card_content p{
    font-family: "Mulish";
    font-weight: 300;
    font-size: 17px;    
       
    line-height: 1.76471;
    color: #7d7987;
    margin-bottom: 33px;
}
/* .card_content button{
    
} */

.btn.card_btn{
    width: 164px;
    height: 48px;
   
    margin-bottom: 105px;
    position: relative;
}

.btn.card_btn::after {
    content: url('/images/icons/element2_section2.svg');
    position: absolute;
    left: 180%;
    top: -50%;
    transform: translateY(50%);
    z-index: 1;
}